html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  min-height: 100vh;
}

body,
#root {
  height: 100%;
}

main {
  padding: 30px;
  background-color: #efefef;
  min-height: 100%;
}
